body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden; /* Disable horizontal scrollbar for the entire page */
    scroll-behavior: smooth; /* Enable smooth scrolling */
    background-color: #efb7ba;
}

@font-face {
    font-family: customfont;
    src: url(./fonts/MonsieurLaDoulaise-Regular.ttf);
}


h1 {
    font-family: customfont;
    font-size: 68px;
    position: relative;
    justify-self: center;
    width: 100%;
    margin-top: 0;
    margin-bottom: 100px;
    text-align: center;
    font-weight: bold;
    color: #194f92;
    text-shadow: 0 0 2px #b2ceff, 0 0 3px white;
}


.timeline {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
    overflow-x: auto;
    padding: 0;
    margin: 0 20px 0 20px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
}

.timeline::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.timeline-event {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
    font-size: 100px;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.timeline-event img{
    cursor: pointer;
    width: 500px;
    height: auto;
    filter: brightness(100%);
    border: 1px solid #cbd5f0;
    border-radius: 10%;
}

.timeline-event:hover img{
    filter: blur(8px);
    filter: brightness(70%) blur(5px); /* Decrease brightness and add blur on hover */
    opacity: 0.8; /* Decrease opacity on hover */
}

.timeline-event .event-title {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: cursive;
    color: #fafafb;
    font-size: 32px;
    font-weight: light;
    text-align: center;
    padding: 8px; /* Padding for better visibility */
    width: 100%; /* Full width */
    -webkit-text-stroke-width: 0.5px; 
    -webkit-text-stroke-color: 194f92; 
}

.timeline-event .event-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Garamond;
    color: #fafafb;
    font-size: 20px;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
    white-space: pre-line; /* Preserve line breaks in the rendered text */
    max-width: 100%; /* Adjust the maximum width as needed */
    font-style: italic;
    font-weight: bold;
}

.timeline-event:hover .event-text {
    opacity: 1; /* Visible on hover */
}

#event-description {
    white-space: pre-line; /* Preserve line breaks in the rendered text */
}

.photo-album {
    display: none;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
}

.photo-album button {
    border: 1px solid red;
}

.photo-album img {
    max-height: 400px;
    width: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #cbd5f0;
    filter: grayscale(100%);
}

.photo-album img:hover {
    filter: grayscale(0%);
}

.album-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.heart {
    color: red;
    font-size: larger;
}

footer p{
    margin-bottom: 5px;
    margin-top: 0px;
    text-align: center;
    color: #194f92;
}

#back-button {
    position: absolute;
    top: 120px;
    left: 10px;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#back-button:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#back-button:hover:after {
  transform: translate(0, 0);
}

#back-button:active {
  background-color: #ffdeda;
  outline: 0;
}

#back-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #back-button {
    padding: 0 40px;
  }
}